<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-speaker-heading" data-cy="SpeakerCreateUpdateHeading" jhiTranslate="gotoApp.speaker.home.createOrEditLabel">
        Create or edit a Speaker
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gotoApp.speaker.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_fullName" jhiTranslate="gotoApp.speaker.fullName">Full Name</label>
          <input type="text" class="form-control" name="fullName" id="field_fullName" data-cy="fullName" formControlName="fullName" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_email" jhiTranslate="gotoApp.speaker.email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_company" jhiTranslate="gotoApp.speaker.company">Company</label>
          <input type="text" class="form-control" name="company" id="field_company" data-cy="company" formControlName="company" />
        </div>

        <div class="mb-3">
          <label for="field_conferences" jhiTranslate="gotoApp.speaker.conference">Conference</label>
          <select
            class="form-control"
            id="field_conferences"
            data-cy="conference"
            multiple
            name="conferences"
            formControlName="conferences"
            [compareWith]="compareConference"
          >
            @for (conferenceOption of conferencesSharedCollection; track $index) {
              <option [ngValue]="conferenceOption">{{ conferenceOption.title }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
