<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (conference()) {
      <div>
        <h2 data-cy="conferenceDetailsHeading"><span jhiTranslate="gotoApp.conference.detail.title">Conference</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ conference()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="gotoApp.conference.title">Title</span></dt>
          <dd>
            <span>{{ conference()!.title }}</span>
          </dd>
          <dt><span jhiTranslate="gotoApp.conference.description">Description</span></dt>
          <dd>
            <span>{{ conference()!.description }}</span>
          </dd>
          <dt><span jhiTranslate="gotoApp.conference.date">Date</span></dt>
          <dd>
            <span>{{ conference()!.date | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="gotoApp.conference.palce">Palce</span></dt>
          <dd>
            <span>{{ conference()!.palce }}</span>
          </dd>
          <dt><span jhiTranslate="gotoApp.conference.speaker">Speaker</span></dt>
          <dd>
            @for (speaker of conference()!.speakers; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/speaker', speaker.id, 'view']">{{ speaker?.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/conference', conference()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
