<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (speaker()) {
      <div>
        <h2 data-cy="speakerDetailsHeading"><span jhiTranslate="gotoApp.speaker.detail.title">Speaker</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ speaker()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="gotoApp.speaker.fullName">Full Name</span></dt>
          <dd>
            <span>{{ speaker()!.fullName }}</span>
          </dd>
          <dt><span jhiTranslate="gotoApp.speaker.email">Email</span></dt>
          <dd>
            <span>{{ speaker()!.email }}</span>
          </dd>
          <dt><span jhiTranslate="gotoApp.speaker.company">Company</span></dt>
          <dd>
            <span>{{ speaker()!.company }}</span>
          </dd>
          <dt><span jhiTranslate="gotoApp.speaker.conference">Conference</span></dt>
          <dd>
            @for (conference of speaker()!.conferences; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/conference', conference.id, 'view']">{{ conference?.title }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/speaker', speaker()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
